*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
   
}
#main{
   
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 12px;
    margin: 13px;
    
    
    
}
.main-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    max-height: 450px;
    text-align: center;
    gap: 12px;
    background-color:darkgrey;
    border: 1px solid blanchedalmond;
    border-radius: 12px;
    padding: 7px 5px 7px 5px;
    margin: 10px;
}
img{
    width: 150px;
    height: 150px;
}
input{
    width: 30%;
    margin:10px;
    border: 1px solid slategrey;
    border-radius: 8px;
    padding: 5px;
}
